body{
    background-color: rgb(238, 238, 238);
}

html, body {
    position: absolute;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
}

#header{
    position:fixed;
    top:0;
    left:0;
    display:block;
    width:100%;
    background-color: white;
    z-index:50;
    border-bottom:2px solid lightgray;
}

#header div{
    display:inline;
}

div#icon{
    float:left;
    width:5vw;
    border-right:2px solid lightgray;
    margin:2vw;
    padding-left: 3vw;
    margin-bottom:0;
}

div#icon img{
    width:50%;
    height:50%;
}

div#logo{
    float:left;
    width:12vw;
    margin:2vw;
    margin-left:auto;
    margin-top:2rem;
    margin-bottom:0;
}

div#logo img{
    width:80%;
    height:80%;
}

form{
    float:left;
    width:30vw;
    margin:2vw;
    margin-left:auto;
    padding-left:18vw;
    margin-top:5vh;
}

input#search{
    text-align: center;
    border:1px solid lightgray;
    border-radius: 3px;
    background: url("images/magnifying.png") no-repeat #f4f4f4;
    background-size: 1vw;
    background-position: 3.5vw 0.8vh;
    height: 1.25rem;
    width: 13vw;
    background-blend-mode: darken;
}

input#search:hover{
    background:url("images/magnifying.png") no-repeat #d7d7d7;
    background-size: 1vw;
    background-position: 3.5vw 0.8vh;
    background-blend-mode: darken;
}

div#icons img{
    padding-top:1vw;
    margin:1vw;
    margin-bottom:2vh;
    width:2vw;
    height:2vw;
}

#alt-stories{
    display:none;
}

.container {
    width:100%;
    overflow:auto;
}

.post-column {
    width: 59%;
    float: left;
    margin-top:6rem;
}

.stories-column {
    width: 30%;
    float: left;
    margin-top:6rem;
    margin-left:4vw;
    margin-right:4vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:fixed;
    left:60%;
}

.post{
    margin-left:5vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:2px solid rgb(218, 218, 218);
    border-top:none;
    border-radius:5px;
    background-color:white;
    margin-bottom:2rem;
}

div.post img{
    width:100%;
}

div.postheader{
    border-top:2px solid rgb(218, 218, 218);
    background-color: white;
    width:auto;
    border-radius:5px;
    padding:1vw;
}

div.postheader img{
    height:8%;
    width:8%;
}

span.username{
    height:auto;
    position:relative;
    bottom:1.5rem;
    padding:0.5vw;
    font-weight:bold;
}

div.postbar{
    font-weight:bold;
    padding:1vh;
    width:auto;
}

span.bookmark{
    float:right;
}

div.postbar i{
    margin:1vh;
    font-size:larger;
}

span.post_text{
    font-weight:normal;
}

span.post_text a{
    text-decoration: none;
}

span.time{
    font-weight:lighter;
    color:lightslategray;
    font-size:small;
}

div.comments{
    font-weight:normal;
    padding:0.75vw;
    margin-top:1vh;
    border-top:1px solid lightgray;
    color:rgb(180, 180, 180);
    font-size:small;
}

div.comments i{
    float:right;
    color:lightslategray;
}

div#stories-header{
    border-bottom:2px solid rgb(218, 218, 218);
    width:auto;
    padding:1vw;
}

div#stories-header img{
    height:12%;
    width:12%;
}

span#zag_name{
    position:relative;
    right:7rem;
    bottom:0.5rem;
    color:lightslategray;
}

span#stories-title{
    color:lightslategray;
}

span#watch{
    position:relative;
    left:20vw;
}

span.stories-top{
    font-weight:bold;
    position:relative;
    top:2vh;
}

div#stories-body{
    margin-top:4vh;
    overflow:scroll;
    height:40vh;
}

div#stories-body::-webkit-scrollbar{
    display:none;
}

div.stories-user{
    display:inline;
    position:relative;
}

div.border-wrap{
    position:relative;
    width:3.5vw;
    height:3.5vw;
    border-radius:50%;
    background: linear-gradient(90deg, rgba(188,0,205,1) 0%, rgba(215,37,146,1) 35%, rgba(255,213,0,1) 100%);
    margin-bottom:2vh;
}

div.border-wrap img{
    position:absolute;
    height:3.2vw;
    width:3.2vw;
    left:0.15vw;
    top:0.15vw;
}

div.stories-user span.username{
    display:inline-block;
    position:absolute;
    width:25%;
    left:3rem;
    top:0.25rem;
}

div.stories-user span.time{
    position:absolute;
    left:3.45rem;
    bottom:0.1rem;
}

div#stories-links{
    color:rgb(194, 193, 193);
    font-size:small;
    width:17vw;
}

div#stories-links a{
    text-decoration: none;
}

div#stories-links a:link{
    color:rgb(194, 193, 193);
}

div#stories-links a:hover{
    color:rgb(194, 193, 193);
}

div#stories-links a:visited{
    color:rgb(194, 193, 193);
}

div#stories-links a:active{
    color:rgb(194, 193, 193);
}

div#suggestions{
    border-top:2px solid rgb(218, 218, 218);
}

div#suggestions-text{
    font-weight:bold;
    color:lightslategray;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2vh;
}

div#suggestions-text a{
    float:right;
    text-decoration: none;
    font-weight:normal;
}

.suggestion{
    width: 27%;
    float: left;
    border:2px solid rgb(218, 218, 218);
    margin-left:1.5rem;
    padding-top:1rem;
    padding-bottom:1rem;
}

div#suggestion-container{
    padding:1.5vw;
    padding-left:0;
    padding-top:0.5rem;
}

div.suggestion img{
    width:3.5rem;
    height:3.5rem;
}

span.x{
    float:right;
    color:lightgray;
    font-size:small;
}

.suggestion-uname{
    font-weight:bold;
    text-align: center;
}

span.suggestion-desc{
    color:lightslategray;
}

button.follow{
    background-color: rgb(75, 165, 255);
    font-weight:bold;
    color:white;
    border:0;
    border-radius:3px;
    padding:0.5vw;
    padding-left:3.5vw;
    padding-right:3.5vw;
}

div.suggestion-content{
    margin:auto;
    width:fit-content;
    text-align: center;
}

div.suggestion-img{
    margin:auto;
    width:fit-content;
    text-align: center;
    margin-bottom:0.75rem;
}

div.suggestion-btn{
    margin:auto;
    width:fit-content;
    text-align: center;
    padding-top:1rem;
    padding-bottom:0.5rem;
}

div.suggestion-x{
    margin-right:1rem;
}

div#next-suggestion{
    color:lightslategray;
    font-size:larger;
    text-align:center;
    height:fit-content;
    width:fit-content;
    float:left;
    margin-top:12%;
}

@media only screen and (max-width: 900px) {
    div#stories-header{
        display:none;
    }
    div#stories-body{
        display:none;
    }
    div.stories-tops{
        display:none;
    }
    div#stories-links{
        display:none;
    }
    .post-column{
        width:80%;
        padding-left:7%;
        padding-right:10%;
        margin-top:1.5rem;
    }

    div#logo{
        margin-top:1.5rem;
    }

    form{
        margin-top:1rem;
    }
    
    input#search{
        background-size: 1vw;
        background-position: 3vw 0.6vh;
        height: 1.25rem;
        width: 13vw;
    }

    #alt-stories{
        border-top:2px solid rgb(218, 218, 218);
        display:block;
        margin-top:5rem;
    }

    #stories-container{
        width:fit-content;
        margin:auto;
    }

    .alt-story{
        margin:1rem;
        float:left;
        font-size:large;
        width:fit-content;
        height:fit-content;
    }

    div.border-wrap img{
        width:3.5rem;
        height:3.5rem;
    }

    div.border-wrap{
        width:3.65rem;
        height:3.65rem;
        margin-bottom:0;
    }

    .alt-story-img{
        margin:auto;
        width:fit-content;
        text-align: center;
        margin-bottom:0.25rem;
    }

    .alt-story-txt{
        margin:auto;
        width:fit-content;
        text-align: center;
    }

}