body{
    background-color: rgb(238, 238, 238);
}

#header{
    position:fixed;
    top:0;
    left:0;
    display:block;
    width:100%;
    background-color: white;
    z-index:50;
    border-bottom:2px solid lightgray;
}

#header div{
    display:inline;
}

div#icon{
    float:left;
    width:5vw;
    border-right:2px solid lightgray;
    margin:2vw;
    padding-left: 3vw;
    margin-bottom:0;
}

div#icon img{
    width:50%;
    height:50%;
}

div#logo{
    float:left;
    width:12vw;
    margin:2vw;
    margin-left:auto;
    margin-top:5vh;
    margin-bottom:0;
}

div#logo img{
    width:80%;
    height:80%;
}

form{
    float:left;
    width:30vw;
    margin:2vw;
    margin-left:auto;
    padding-left:18vw;
    margin-top:5vh;
}

input#search{
    text-align: center;
    border:1px solid lightgray;
    border-radius: 3px;
    background: url("images/magnifying.png") no-repeat #f4f4f4;
    background-size: 1vw;
    background-position: 3.5vw 0.8vh;
    height: 3.5vh;
    width: 13vw;
    background-blend-mode: darken;
}

input#search:hover{
    background:url("images/magnifying.png") no-repeat #d7d7d7;
    background-size: 1vw;
    background-position: 3.5vw 0.8vh;
    background-blend-mode: darken;
}

div#icons img{
    padding-top:1vw;
    margin:1vw;
    margin-bottom:2vh;
    width:2vw;
    height:2vw;
}

.container {
    width:100%;
    overflow:auto;
}

.post-column {
    width: 59%;
    float: left;
    margin-top:17vh;
}

.stories-column {
    width: 30%;
    float: left;
    margin-top:17vh;
    margin-left:4vw;
    margin-right:4vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:fixed;
    left:60%;
}

div.post{
    margin-left:5vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:2px solid rgb(218, 218, 218);
    border-top:none;
    border-radius:5px;
    background-color:white;
    margin-bottom:10vh;
}

div.post img{
    width:100%;
}

div.postheader{
    border-top:2px solid rgb(218, 218, 218);
    background-color: white;
    width:auto;
    border-radius:5px;
    padding:1vw;
}

div.postheader img{
    height:8%;
    width:8%;
}

span.username{
    height:auto;
    position:relative;
    bottom:4vh;
    padding:0.5vw;
    font-weight:bold;
}

div.postbar{
    font-weight:bold;
    padding:1vh;
    width:auto;
}

span.bookmark{
    float:right;
}

div.postbar i{
    margin:1vh;
    font-size:larger;
}

span.post_text{
    font-weight:normal;
}

span.post_text a{
    text-decoration: none;
}

span.time{
    font-weight:lighter;
    color:lightslategray;
    font-size:small;
}

div.comments{
    font-weight:normal;
    padding:0.75vw;
    margin-top:1vh;
    border-top:1px solid lightgray;
    color:rgb(180, 180, 180);
    font-size:small;
}

div.comments i{
    float:right;
    color:lightslategray;
}

div#stories-header{
    border-bottom:2px solid rgb(218, 218, 218);
    width:auto;
    padding:1vw;
}

div#stories-header img{
    height:12%;
    width:12%;
}

span#zag_name{
    position:relative;
    right:8.75vw;
    bottom:1vh;
    color:lightslategray;
}

span#stories-title{
    color:lightslategray;
}

span#watch{
    position:relative;
    left:20vw;
}

span.stories-top{
    font-weight:bold;
    position:relative;
    top:2vh;
}

div#stories-body{
    margin-top:4vh;
    overflow:scroll;
    height:40vh;
}

div#stories-body::-webkit-scrollbar{
    display:none;
}

div.stories-user{
    display:inline;
    position:relative;
}

div.border-wrap{
    position:relative;
    width:3.5vw;
    height:3.5vw;
    border-radius:50%;
    background: linear-gradient(90deg, rgba(188,0,205,1) 0%, rgba(215,37,146,1) 35%, rgba(255,213,0,1) 100%);
    margin-bottom:2vh;
}

div.border-wrap img{
    position:absolute;
    height:3.2vw;
    width:3.2vw;
    left:0.15vw;
    top:0.15vw;
}

div.stories-user span.username{
    display:inline-block;
    position:absolute;
    width:25%;
    left:4vw;
    top:0.5vh;
}

div.stories-user span.time{
    position:absolute;
    left:4.5vw;
    bottom:0.5vh;
}

div#stories-links{
    color:rgb(194, 193, 193);
    font-size:small;
    width:17vw;
}

div#stories-links a{
    text-decoration: none;
}

div#stories-links a:link{
    color:rgb(194, 193, 193);
}

div#stories-links a:hover{
    color:rgb(194, 193, 193);
}

div#stories-links a:visited{
    color:rgb(194, 193, 193);
}

div#stories-links a:active{
    color:rgb(194, 193, 193);
}

div#suggestions{
    border-top:2px solid rgb(218, 218, 218);
}

div#suggestions-text{
    font-weight:bold;
    color:lightslategray;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2vh;
}

div#suggestions-text a{
    float:right;
    text-decoration: none;
    font-weight:normal;
}

.suggestion{
    width: 25%;
    float: left;
    border:2px solid rgb(218, 218, 218);
    margin-left:1.5rem;
    padding:0.5rem;
    padding-top:1rem;
}

div#suggestion-container{
    padding:1.5rem;
    padding-left:0;
    padding-top:0.5rem;
}

div.suggestion img{
    width:3.5rem;
    height:3.5rem;
    position:relative;
    left:4vw;
}

span.x{
    float:right;
    color:lightgray;
    font-size:small;
}

div.suggestion-uname{
    font-weight:bold;
    text-align: center;
    position:relative;
    right:0.5vw;
}

div.suggestion-uname img{
    width:10%;
    height:10%;
    position:relative;
    bottom:5.5vh;
    left:2.5vw;
}

span.suggestion-desc{
    color:lightslategray;
    position:relative;
    left:4.5vw;
    bottom:6vh;
}

button.follow{
    background-color: rgb(75, 165, 255);
    font-weight:bold;
    color:white;
    border:0;
    border-radius:3px;
    padding:0.5vw;
    padding-left:3.5vw;
    padding-right:3.5vw;
    position:relative;
    left:1.5vw;
    bottom:2vh;
}

span#follow-ach{
    position:relative;
    left:1.5vw;
}

span#follow-nyx{
    position:relative;
    left:2.5vw;
}

/*
img#next{
    width:1rem;
    height:1rem;
    position:relative;
    top:17vh;
    right:1vw;
}*/

span#next{
    position:relative;
    top:17vh;
    right:1vw;
    color:lightslategray;
    font-size:large;
}